.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sliding {
  display: flex;
  position: relative;
  overflow-x: visible;
}

.slidingContent {
  min-width: calc(100% - 34px);
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 16px;
  position: relative;
  transition-property: transform;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
}

.slidingOptions {
  margin-left: .4px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 0 4px 4px 0;
  padding: 16px;
  width: 50px;
  transition-property: transform;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
}